    body{
      margin: 0px 8px 8px 8px;
    }
    hr{
      margin:15px 0px;
    }
    #cabecalho{
      background-color: rgb(203, 241, 203);
      text-align: center;
      padding:5px;
    }
    #English-version{
      position: absolute;
      right:15px;
    }
    .menu{
      position:sticky;
      top:0px;
      background-color: rgb(116, 180, 116);
      padding:5px;
    }
    #menu {
      display: flex;
      list-style: none;
      gap: 10px;
      justify-content: center;
    }
    #menu a{
      color: black;
      text-decoration: none;
    }
    .links{
      font-size: 18px;
      padding-bottom:10px;
    }
    .empresa{
      width:150px;
    }
    .cargo{
      text-align: left;
    }