:root {
    --gap: 3rem;
    --main-color: #330033;
    --secondary-color: #530153;
    --light-gray: #eee;
    --transparent-green: #06150059;
    --dark-green: #061500;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family:'Open Sans', sans-serif;
    font-size: 2rem;
    padding-top: 8vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
    margin-bottom: 4rem;
}
h3 {
    font-size: 3rem;
}
a{
    text-decoration: none;
}
.section {
    min-height: 100vh;
    min-width:90vh;
}
.main-bg {
    background-image: url(../Img/folhas.png);
    background-color: var(--transparent-green);
    background-blend-mode:overlay;
    background-position: center;
    background-size: cover;
    color:white;
}
.white-bg {
    background-color: white;
    color: var(--main-color);
}
.main-content {
    padding: 10rem 3rem;
}
.menu {
    position:fixed;
    z-index: 2;
    top:0;
    right:0;
    width:100%;
    background-color: white;
    border-bottom:0.01px solid var(--light-gray);
}
.menu-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem 3rem;

}
.menu h1 {
    font-size: 2.3rem;
}
.menu h1 a {
    color: var(--main-color)
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    position:relative;
    display: block;
    padding:2rem;
    font-size: 1.8rem;
    color: var(--main-color)
}
.menu ul li a::after {
    content:'';
    position:absolute;
    bottom:1rem;
    left:50%;
    width:0px;
    height:0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    left:15%;
    width:70%;
}
#intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:3rem;
    align-items: center;
}
.bio {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.contact-links {
    margin-top: var(--gap);
    display: flex;
    justify-content: left;
    gap: var(--gap);
    list-style: none;
}
.contact-links a {
    color:white;
    text-decoration: underline;
}
.profile-img {
    background-image: url(../Img/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 25vw;
    height: 70vh;
    border-radius: 50rem;
}
.exp-box {
    position: relative;
    padding: 0 3rem 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 0.3rem solid var(--secondary-color);
}
.exp-box .date {
    position: relative;
    top: -1rem;
}
.exp-box .date::before {
    content: ' ';
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: -3.7rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary-color);  
}
.exp-box:last-of-type {
    padding-bottom: 0;
    margin-bottom:5rem;
}
.edu-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    align-items: top;
    justify-content: center;
}
.edu-box {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.edu-box .degree {
    font-size: 1.5rem;
}
.abilities-content {
    padding-top:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.abilities-content .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
}
.abilities-content .table .ability {
    padding-right: var(--gap);
}
.abilities-content .table .ability, .abilities-content .table .level {
    border-bottom: 0.1rem solid var(--light-gray);
}
.abilities-content .table .thead {
    background-color: var(--light-gray);
}
.publication-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    align-items: center;
}
.TCC h3{
    text-transform: uppercase;
}
.TCC {
    display:flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: stretch;
}
.publication-img img {
    max-height: 65vh;
    border-radius: 50px;
}
.publication-content a {
    color:white;
    text-decoration: underline;
}
.skilled {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    align-items: center;
    justify-content: center;    
}
.portfolio-content h3, .portfolio-content img {
    padding-bottom: var(--gap);
}
.portfolio-content img {
    cursor: zoom-in;
    max-width: 100%;
    max-height: 36rem;
    transition: all 300ms ease-in-out;
}
.portfolio-content .skilled img:active {
    transform: translate(50%, 50%) scale(2);
}
.portfolio-content .skilled img:active:last-of-type {
    transform: translate(-50%, 50%) scale(2);
}
.portfolio-content .scrabble img:active {
    transform: translate(0%, 5%);
}
.portfolio-content .perfume img:active {
    transform: translate(50%, 10%) scale(1.5);
}
.portfolio-content a {
    color: var(--main-color);
}
.portfolio-content a:hover {
    color: var(--transparent-green);
}
.form-grid {
    margin: var(--gap);
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-group {
    flex: 40%;
}
.form-group label {
    display: block;
}
.form-group input, .form-group textarea {
    border: none;
    background-color: var(--light-gray);
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    outline: var(--secondary-color);
}
.form-group input:focus, .form-group textarea:focus{
    background: white;
}
.full-width {
    flex: 1 1 100%;
}
.form-group button {
    border: 0.5rem solid white;
    background: none;
    color: white;
    padding: 1rem 3rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out
}
.form-group button:hover {
    background: white;
    color: var(--main-color)
}
.form-group button:active {
    background: var(--light-gray);
    color: var(--main-color)
}
.form-group::placeholder {
    color: var(--main-color);
}
.footer {
    text-align: center;
    font-size: 1.5rem;
}
.footer a {
    color: white;
    text-decoration: underline;
}
.close-menu {
    display: none;
}

/* Mobile */
@media (max-width:800px) {
    body {
        font-size: 4rem;
        padding-top: 0;
    }
    h2 {
        font-size: 7.5rem;
        margin-bottom: 6rem;
    }
    h3 {
        font-size: 5rem;
    }
    #intro {
        display: flex;
        flex-direction: column;
    }
    .profile-img {
        background-image: url(../Img/clara-hands-on-the-face.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 90vw;
        max-height: 50vh;
        border-radius: 0;
        max-width: unset;
        background-position: center;
    }
    .bio {
        text-align: left;
    }
    .edu-content{
        display: block;
    }
    .edu-box{
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 5rem 0;
    }
    .edu-box .degree{
        font-size: 3.5rem;
    }
    .abilities-content td, .abilities-content th {
        padding-right: 0;
        line-height: 6rem;
        border-bottom: 0.1rem solid var(--light-gray);
    } 
    .publication-content {
        display: flex;
        flex-direction: column;
    }
    .skilled {
        display: block;
        padding-bottom: 0;
        gap: 1rem;  
    }
    .portfolio-content h3 {
        padding: 5rem 0;
    }
    .portfolio-content img {
        cursor: zoom-in;
        max-width: 100%;
        max-height: 400rem;
        transition: all 300ms ease-in-out;
    }
    .portfolio-content .skilled img:active, 
    .portfolio-content .skilled img:last-of-type:active,
    .portfolio-content .scrabble img:active,
    .portfolio-content .perfume img:active {
        transform: translate(0%) scale(1);
    }
    .form-grid {
        margin: var(--gap);
        border: none;
        display: block;
    }
    .form-group {
        margin: 3rem 0;
    }
    .form-group input, .form-group textarea {
        font-size: 4rem;
    }
    .form-group button {
        font-size: 4rem;
    }
    .footer {
        font-size: 2.5rem;
    }


    .menu {
        bottom: 0;
        text-align: center;
        height: 100%;
        display: none;
    }
    .menu-content, .menu ul {
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100%;
    }
    .menu-content h1 {
        padding: 2rem;
    }
    .close-menu {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
    }
    .close-menu-label::after {
        content: '☰';
        color: white;
        background-color: var(--dark-green);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
        position: fixed;
        z-index: 3;
        top: 1rem;
        right: 1rem;
    }
    .close-menu:checked~.menu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        content: 'X';
    }
}
