@media print {
    :root {
        --gap: 15px;
        --main-color: #330033;
        --secondary-color: #530153;
        --light-gray: #eee;
        --dark-gray-one: #4a4a4a;
        --dark-gray-two: #363636;
        --transparent-green: #06150059;
        --dark-green: #061500;
        --print-beige: #fae4d7bb;
        --print-green: #b5cec4d8;
    }
body {
    
    padding-top: 0;
}
h2 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1.4rem;
}
p {
    font-size: 1.2rem;
}
.main-bg, .white-bg {
    background: none;
    color: black;
}
.menu,
.menu-button-lines,
#Portfolio,
.bio p,
.bio a,
.bio ul,
.bio button,
input,
#Publication img,
#Publication a {
	display: none;
}
#Intro, #Education, #Abilities, #Publication{
    height: fit-content;
}
#intro {
    display: flex;
    flex-direction: column;
}

.profile-img {
    background-image: url(../Img/clara-hands-on-the-face.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    max-height: 150px;
    border-radius: 0;
    max-width: unset;
    background-position: center;
}
.bio {
    text-align: left;
}
.bio h2:after {
	display: block;
    font-family:'Open Sans', sans-serif;
	content: "Sou bacharel em Línguas Estrangeiras Aplicadas às Negociações Internacionais na Universidade Federal da Paraíba. Possuo experiência em ensino de inglês, tradução e atendimento ao cliente. Meus interesses são em línguas estrangeiras, principalmente inglês e espanhol. Atualmente estou em busca de uma oportunidade para ingressar na área de web development na função de desenvolvedora jr.";
	margin-top: var(--gap);
    font-weight: 500;
}
.edu-content{
    display: block;
}
.edu-box{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 20px 0;
}
.edu-box .degree{
    font-size: 12px;
}
.abilities-content td, .abilities-content th {
    padding-right: 0;
    line-height: 1.5rem;
    border-bottom: 0.1rem solid var(--light-gray);
} 
.publication-content {
    display: flex;
    flex-direction: column;
}
}