form{
    display:flex;
}
input{
    background-color: transparent;
    width:100%;
    border:transparent;
    text-align: center;
}
table{
    width:25%;
    border: 1px solid;
    border-spacing: 0px;
}
th{
    border-bottom: 0.5px solid;
    padding:5px;
}
td{
    border-bottom: 0.5px dotted;
    padding:3px;
    text-align: center;
}
button{
    display:block;
    color:aliceblue;
    background-color: rgba(68, 65, 84, 0.909);
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;   
}
button:active{
    color:rgba(68, 65, 84, 0.909);
    background-color: aliceblue;
}

/*Tables Background*/
.jogador1{
    background-color:#ea9999;
}
.jogador2{
    background-color: #9fc5e8;
}
.jogador3{
    background-color: #ffe599;
}
.jogador4{
    background-color: #b6d7a8;
}
#jogador1{
    background-color:#f4cccc;
}
#jogador2{
    background-color: #c9daf8;
}
#jogador3{
    background-color: #fff2cc;
}
#jogador4{
    background-color: #d9ead3;
}
